body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #FFFBF5;
}

header {
    
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 358px;
    background-color: #040D12;
    color:  #FFFBF5;
}

main {
    background-color: #040D12;

    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 0;
    width:100% ; /* Set the desired width */
    height: 1000px; 
    background-size: cover; /* Scale the image to cover the div */
}

main .container {
    padding-top: 40px;
    gap: 30px;
    height: 300px ;
    display: flex;
    flex-direction: column;
    width: 50%;

}

main .paragraph {
    text-align: left;
    font-size: 20px;
    
}



main .picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #fff;

}


main .horizontal{
    
    display: grid;
    grid-template-columns: 200px 300px;
}


header img {
    height: 50px;
    max-width: 100px; /* Adjust the max-width as needed */
    margin-right: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    
}

.navlistitem {
    padding: 10px 10px;
}

header li:hover {
    color: #040D12 ;
    background-color:  #FFFBF5 ;
    border-radius: 15px;
    padding: 10px 10px;
    
}

li {
    cursor: pointer;
}

.navlist{
    padding-left: 300px;
}
  
  

